@charset "utf-8";

/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Square';
*/

*{margin:0px; padding:0px;}
body, html{font-family: 'Noto Sans KR', sans-serif;margin: 0px; padding: 0px;
width:100%; height: 100%;}
a{text-decoration: none;}
ul, li{list-style: none;}